/* Job Card */
.jobCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logoContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.6rem;
  height: 6.4rem;
  border-radius: 14px;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.08);
}

.logoImage {
  object-fit: contain;
}

.metaInfo {
  margin: 4px 0 0 0;
}

.deadline {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 12px;
  background: rgba(244, 175, 72, 0.1);
  color: #fb521c;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.1px;
}

.platform {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin: 0 0 0 6px;
  color: #7d7d7d;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.1px;
  border-radius: 12px;
  background: rgba(221, 221, 221, 0.3);
}

.title {
  color: #000;
  font-size: 16px;
  letter-spacing: -0.1px;
  max-height: 2.3rem;
}

.tagContainer {
  max-height: 1.8rem;
  color: #7d7d7d;
  font-size: 12px;
  line-height: normal;
  letter-spacing: -0.1px;
}

.tag {
  display: inline-block;
  margin: 0 8px 0 0;
  max-height: 1.7rem;
}

/* Marketing Card */
.marketingCard {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.marketingLogoContainer {
  width: 4rem;
  height: 4rem;
  position: relative;
  flex-shrink: 0;
}

.marketingLogoImage {
  border-radius: 0.375rem;
  object-fit: contain;
}

.marketingMetaInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marketingCategory {
  color: #f97316;
  font-weight: 600;
}

.marketingCompany {
  color: #6b7280;
  font-size: 0.875rem;
}

.marketingTitle {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 0.25rem;
}

.marketingOpenDate {
  font-size: 1rem;
  margin-top: 0.25rem;
}
