/* Job Card */
.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #ddd;
  border-radius: 14px;
  padding: 16px;
}

/* 
.logoContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.6rem;
  height: 6.4rem;
  border-radius: 14px;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.08);
}

.logoImage {
  object-fit: contain;
} */

.badgeWrapper {
  margin: 4px 0 0 0;
}

.mainBadge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 12px;
  background: rgba(244, 175, 72, 0.1);
  color: #fb521c;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.1px;
}

.subBadge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  color: #7d7d7d;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.1px;
  border-radius: 12px;
  background: rgba(221, 221, 221, 0.3);
}

.cardSubtitle {
  color: #000;
  font-size: 14px;
  line-height: 1.2; /* Adjust this value as needed */
  max-height: 2.4em; /* This is equivalent to 2 lines (2 * 1.2em) */
}

.cardTitle {
  color: #000;
  font-size: 16px;
  line-height: 1.2; /* Adjust this value as needed */
  max-height: 2.4em; /* This is equivalent to 2 lines (2 * 1.2em) */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.cardMetaInfo {
  color: #7d7d7d;
  font-size: 12px;
  line-height: normal;
  letter-spacing: -0.1px;
}

.tagContainer {
  max-height: 1.8rem;
  color: #7d7d7d;
  font-size: 12px;
  line-height: normal;
  letter-spacing: -0.1px;
}

.tag {
  display: inline-block;
  margin: 0 8px 0 0;
  max-height: 1.7rem;
}

/* Campaign Card */
.campaignCard {
  width: 100%;
  max-width: 274px;
  margin: 0 auto;
}

.campaignImageContainer {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* This creates a 1:1 aspect ratio */
}

.campaignImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will ensure the image covers the entire container */
  border-radius: 8px; /* Optional: if you want rounded corners */
}

/* Site Logo */
.siteLogo {
  border: 1px solid #ddd;
  border-radius: 14px;
  padding: 16px;
  width: 140px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.siteLogoImage {
  max-width: "120px";
  height: "auto";
  object-fit: contain;
}
